---
import '@fontsource-variable/onest'
import '@/styles/global.css'
import { ViewTransitions } from 'astro:transitions'
import Header from '@/components/Header.astro'

interface Props {
  title: string
  description: string
  meta?: { name: string; content: string }[]
  links?: { rel: string; href: string }[]
}

const { title, description, meta, links } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content={description} />
    <title>{title}</title>
    <!-- <ViewTransitions /> -->
    {meta && meta.map((m) => <meta name={m.name} content={m.content} />)}
    {links && links.map((l) => <link rel={l.rel} href={l.href} />)}
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>

<style is:global>
  #header {
    animation: blur linear both;
    animation-timeline: scroll();
    animation-range: 0 500px;
  }

  @keyframes blur {
    to {
      box-shadow:
        0px 5px 50px -5px rgba(0, 0, 0, 0.1),
        0px 0px 0px 1px rgba(0, 0, 0, 0.3);
      background: rgba(0, 0, 0, 0.3);
      backdrop-filter: blur(10px);
    }
  }
</style>
