---
import '@fontsource-variable/onest'
import '@/styles/global.css'
import { ViewTransitions } from 'astro:transitions'

interface Props {
  title: string
  description: string
  meta?: { name: string; content: string }[]
  links?: { rel: string; href: string }[]
}

const { title, description, meta, links } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content={description} />
    <title>{title}</title>
    <!-- <ViewTransitions /> -->
    {meta && meta.map((m) => <meta name={m.name} content={m.content} />)}
    {links && links.map((l) => <link rel={l.rel} href={l.href} />)}
  </head>
  <body>
    <slot />
    <style is:global></style>
  </body>
</html>
